body {
  font-family: fantasy;
  margin: 0;
  padding: 0;
}

header {
  color: #941010;
  margin-top: 40px;
  margin-left: 20px;
  padding-left: 30px;
  font-size: 24px;
}

.logo {
  max-width: 100px;
}

img {
  width: 50px;
  height: 50px;
}

main {
  background-image: url('./jj-ying-7JX0-bfiuxQ-unsplash.jpg');
  padding: 20px;
  margin: auto;
}

form {
  margin-bottom: 40px;
  padding: 0 30px;
  justify-content: center;
  margin-top: 60px;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

#slug-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #941010;
  color: #fff;
  border: none;
  cursor: pointer;
}

#short-url-container {
  margin-bottom: 20px;
  padding: 0 30px;
}

#short-url-container h3 {
  margin-top: 0;
  color: #941010;
}

#analytics-container {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  padding: 0 30px;
}

#analytics-container h3 {
  margin-top: 0;
  color: #941010;
}

#analytics-list {
  list-style-type: none;
  padding: 0;
}

#analytics-list li {
  margin-bottom: 10px;
}

/* Responsive Styles */
@media (min-width: 480px) {
  /* Adjust header styles for screens wider than 480px */
  header {
    font-size: 28px;
  }

  /* Adjust form styles for screens wider than 480px */
  form {
    margin-top: 80px;
  }
}

@media (min-width: 768px) {
  /* Adjust header styles for screens wider than 768px */
  header {
    margin-left: 40px;
    padding-left: 60px;
    font-size: 32px;
  }

  /* Adjust form styles for screens wider than 768px */
  form {
    margin-top: 100px;
  }
}

@media (min-width: 1024px) {
  /* Adjust header styles for screens wider than 1024px */
  header {
    margin-top: 60px;
    margin-left: 60px;
    padding-left: 90px;
    font-size: 36px;
  }

  /* Adjust form styles for screens wider than 1024px */
  form {
    margin-top: 120px;
  }
}

@media (min-width: 1200px) {
  /* Adjust #slug-input width for screens wider than 1200px */
  #slug-input {
    width: 30%;
  }
}