/* styles.css */

body {
  font-family: fantasy;
  margin: 0;
  padding: 0;
}

header {
  color: #941010;
  margin-top: 80px;
  margin-left: 20px;
  padding-left: 90px;
  font-size: 30px;
}

header h1 {
  margin: 0;
}

.nav_bar {
	display: flex;
	justify-content: flex-end;
  font-size: 18px;
	gap: 20px;
	list-style: none;
	padding-right: 90px;
}

main {
  padding: 20px;
  margin: auto;
}

form {
  margin-bottom: 60px;
  padding-right: 30px;
  padding-left: 90px;
  justify-content: center;
  margin-top: 90px;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

input[type="text"] {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

#slug-input {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #941010;
  color: #fff;
  border: none;
  cursor: pointer;
}

#short-url-container {
  margin-bottom: 20px;
  padding-right: 30px;
  padding-left: 90px;
}

#short-url-container h3 {
  margin-top: 0;
  color: #941010;
}

#analytics-container {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 90px;
  justify-content: center;
}

#analytics-container h3 {
  margin-top: 0;
  color: #941010;
}

#analytics-list {
  list-style-type: none;
  padding: 0;
}

#analytics-list li {
  margin-bottom: 10px;
}
